In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
import warnings 
warnings.filterwarnings('ignore')

In [9]:
dataset = pd.read_csv('./boston_crime_21.csv')
dataset.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_DESCRIPTION,DISTRICT,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,STREET
0,312030979,3201,PROPERTY - LOST/ MISSING,E13,0,22/03/2021 00:00,2021,3,Monday,0,BLUE HILL AVE
1,292152228,3301,VERBAL DISPUTE,C11,0,28/07/2021 20:45,2021,7,Wednesday,20,LYON ST
2,282080177,3801,M/V ACCIDENT - OTHER,A1,0,02/11/2021 13:23,2021,11,Tuesday,13,CAMBRIDGE ST & BOWDOIN ST\nBOSTON MA 02114\nU...
3,222000453,617,LARCENY THEFT FROM BUILDING,E13,0,30/12/2021 12:30,2021,12,Thursday,12,MONTEBELLO RD
4,222000599,1106,FRAUD - CREDIT CARD / ATM FRAUD,B2,0,29/12/2021 22:40,2021,12,Wednesday,22,WASHINGTON ST

In [ ]:
dataset.nunique()

In [23]:
dataset.describe()

,INCIDENT_NUMBER,OFFENSE_CODE,SHOOTING,YEAR,MONTH,HOUR
count,7.171700e+04,71717.000000,71717.000000,71717.0,71717.000000,71717.000000
mean,2.120300e+08,2431.020455,0.012661,2021.0,6.689753,12.803129
std,2.005891e+06,1183.731769,0.111807,0.0,3.338601,6.365549
min,1.063722e+07,111.000000,0.000000,2021.0,1.000000,0.000000
25%,2.120238e+08,1106.000000,0.000000,2021.0,4.000000,9.000000
50%,2.120477e+08,3005.000000,0.000000,2021.0,7.000000,14.000000
75%,2.120715e+08,3207.000000,0.000000,2021.0,10.000000,18.000000
max,3.120310e+08,3831.000000,1.000000,2021.0,12.000000,23.000000

In [20]:
X = dataset.drop(columns=['OFFENSE_DESCRIPTION','STREET', 'DAY_OF_WEEK', 'DISTRICT'])
y = dataset['MONTH']

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 2)